<a href="https://colab.research.google.com/github/its-kanii/CRUD-SQL/blob/main/Inventory_Management_System_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Inventory Management System
Let's implement CRUD operations in an Inventory Management System, where we track product stocks in a warehouse.
#Step 1: Creating the Table (CREATE)
We'll create a Products table to store inventory records.

In [ ]:
%%sql
CREATE TABLE Products (
    ProductID INT PRIMARY KEY AUTO_INCREMENT,
    ProductName VARCHAR(100),
    Category VARCHAR(50),
    Quantity INT,
    Price DECIMAL(10,2),
    Supplier VARCHAR(100),
    LastRestocked DATE
);

#Step 2: Inserting Data (INSERT)
Let's add some product records.

In [ ]:
%%sql
INSERT INTO Products (ProductName, Category, Quantity, Price, Supplier, LastRestocked)
VALUES
('Laptop', 'Electronics', 50, 800.00, 'Tech Supplies Ltd.', '2025-03-15'),
('Office Chair', 'Furniture', 30, 120.00, 'Furniture Co.', '2025-03-10'),
('Printer Paper', 'Office Supplies', 100, 5.00, 'Paper World', '2025-03-18');

#Step 3: Reading Data (SELECT)
Retrieve all products.

In [ ]:
%%sql
SELECT * FROM Products;

Retrieve products in the Electronics category.

In [ ]:
%%sql
SELECT * FROM Products WHERE Category = 'Electronics';

Retrieve products with low stock (less than 20 items).

In [ ]:
%%sql
SELECT * FROM Products WHERE Quantity < 20;

#Step 4: Updating Data (UPDATE)
Let's say we receive 20 more office chairs, so we update the quantity and restocking date.

In [ ]:
%%sql
UPDATE Products
SET Quantity = Quantity + 20, LastRestocked = '2025-03-20'
WHERE ProductName = 'Office Chair';

If the price of printer paper increases, we update the price.

In [ ]:
%%sql
UPDATE Products
SET Price = 6.00
WHERE ProductName = 'Printer Paper';

#Step 5: Deleting Data (DELETE)
If laptops are discontinued, we remove them from the inventory.

In [ ]:
%%sql
DELETE FROM Products WHERE ProductName = 'Laptop';

#Final Thoughts
This example covers CRUD operations in Inventory Management:

* Create: We created the Products table.

* Insert: We added product records.

* Read: We retrieved inventory details.

* Update: We modified stock levels and pricing.

* Delete: We removed a discontinued product.