<a href="https://colab.research.google.com/github/its-kanii/CRUD-SQL/blob/main/Sales_Management_System_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sales Management System
CRUD operations in SQL—Create, Read, Update, and Delete—are fundamental for managing data in a database.

Let’s consider a Sales Management System as a real-time example.
#Step 1: Creating the Table (CREATE)
We'll create a Sales table that stores sales transactions.

In [1]:
%%sql
CREATE TABLE Sales (
    SaleID INT PRIMARY KEY AUTO_INCREMENT,
    ProductName VARCHAR(100),
    CustomerName VARCHAR(100),
    Quantity INT,
    Price DECIMAL(10,2),
    SaleDate DATE
);

#Step 2: Inserting Data (INSERT)
Let's insert some sales records.

In [ ]:
%%sql
INSERT INTO Sales (ProductName, CustomerName, Quantity, Price, SaleDate)
VALUES
('Laptop', 'John Doe', 1, 1000.00, '2025-03-21'),
('Smartphone', 'Alice Smith', 2, 500.00, '2025-03-20'),
('Headphones', 'Bob Johnson', 3, 100.00, '2025-03-19');

#Step 3: Reading Data (SELECT)
Retrieve all sales records.

In [ ]:
%%sql
SELECT * FROM Sales;

Retrieve sales for a specific customer:

In [ ]:
%%sql
SELECT * FROM Sales WHERE CustomerName = 'John Doe';

#Step 4: Updating Data (UPDATE)
Let's say John Doe bought 2 laptops instead of 1. We update the record:

In [ ]:
%%sql
UPDATE Sales
SET Quantity = 2, Price = 2000.00
WHERE SaleID = 1;

#Step 5: Deleting Data (DELETE)
If Bob Johnson's transaction needs to be removed, we delete his record:

In [ ]:
%%sql
DELETE FROM Sales WHERE CustomerName = 'Bob Johnson';

#Final Thoughts
This example covers all CRUD operations in a real-time Sales Management context:

* Create: We created the Sales table.

* Insert: We added sales records.

* Read: We retrieved sales data.

* Update: We modified a sale transaction.

* Delete: We removed a specific sale.