<a href="https://colab.research.google.com/github/its-kanii/CRUD-SQL/blob/main/Student_Admission_System_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Student Admission System
Let's implement CRUD operations in a Student Admission System, where we manage student records in a school or university database.
#Step 1: Creating the Table (CREATE)
We'll create a Students table to store student admission records.

In [ ]:
%%sql
CREATE TABLE Students (
    StudentID INT PRIMARY KEY AUTO_INCREMENT,
    Name VARCHAR(100),
    Age INT,
    Gender VARCHAR(10),
    Course VARCHAR(50),
    AdmissionDate DATE,
    FeesPaid DECIMAL(10,2)
);

#Step 2: Inserting Data (INSERT)
Let's add some student records.

In [ ]:
%%sql
INSERT INTO Students (Name, Age, Gender, Course, AdmissionDate, FeesPaid)
VALUES
('John Doe', 18, 'Male', 'Computer Science', '2025-03-10', 5000.00),
('Alice Smith', 19, 'Female', 'Business Administration', '2025-03-12', 4800.00),
('Bob Johnson', 20, 'Male', 'Mechanical Engineering', '2025-03-15', 5200.00);

#Step 3: Reading Data (SELECT)
Retrieve all students.

In [ ]:
%%sql
SELECT * FROM Students;

Retrieve students enrolled in Computer Science.

In [ ]:
%%sql
SELECT * FROM Students WHERE Course = 'Computer Science';

Retrieve students admitted after March 12, 2025.

In [ ]:
%%sql
SELECT * FROM Students WHERE AdmissionDate > '2025-03-12';

#Step 4: Updating Data (UPDATE)
Let's say Alice Smith changed her course to Data Science.

In [ ]:
%%sql
UPDATE Students
SET Course = 'Data Science'
WHERE StudentID = 2;

If John Doe paid additional fees, we update his record.

In [ ]:
%%sql
UPDATE Students
SET FeesPaid = FeesPaid + 1000.00
WHERE StudentID = 1;

#Step 5: Deleting Data (DELETE)
If Bob Johnson cancels his admission, we remove his record.

In [ ]:
%%sql
DELETE FROM Students WHERE Name = 'Bob Johnson';

#Final Thoughts
This example covers CRUD operations in a Student Admission System:

* Create: We created the Students table.

* Insert: We added student records.

* Read: We retrieved student data based on course and admission date.

* Update: We modified a studentâ€™s course and fee payment.

* Delete: We removed a student who canceled their admission.