<a href="https://colab.research.google.com/github/its-kanii/CRUD-SQL/blob/main/Transport_Management_System_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Transport Management System
Let's implement CRUD operations in a Transport Management System, where we manage vehicle and driver records for a transportation company.
#Step 1: Creating the Table (CREATE)
We'll create a Vehicles table to store transport records.

In [ ]:
%%sql
CREATE TABLE Vehicles (
    VehicleID INT PRIMARY KEY AUTO_INCREMENT,
    VehicleNumber VARCHAR(20) UNIQUE,
    DriverName VARCHAR(100),
    Route VARCHAR(100),
    Capacity INT,
    Status VARCHAR(20),
    LastServiceDate DATE
);

#Step 2: Inserting Data (INSERT)
Let's add some vehicle records.

In [ ]:
%%sql
INSERT INTO Vehicles (VehicleNumber, DriverName, Route, Capacity, Status, LastServiceDate)
VALUES
('KA-01-AB-1234', 'John Doe', 'City Center to Airport', 40, 'Active', '2025-02-15'),
('MH-02-CD-5678', 'Alice Smith', 'Downtown to Mall', 30, 'Active', '2025-01-20'),
('DL-03-EF-9101', 'Bob Johnson', 'University to Train Station', 50, 'In Service', '2025-03-01');

#Step 3: Reading Data (SELECT)
Retrieve all vehicles.

In [ ]:
%%sql
SELECT * FROM Vehicles;

Retrieve vehicles on the City Center to Airport route.

In [ ]:
%%sql
SELECT * FROM Vehicles WHERE Route = 'City Center to Airport';

Retrieve vehicles that need service (last serviced before Feb 1, 2025).

In [ ]:
%%sql
SELECT * FROM Vehicles WHERE LastServiceDate < '2025-02-01';

#Step 4: Updating Data (UPDATE)
Let's say John Doe's vehicle is under maintenance, so we update its status.

In [ ]:
%%sql
UPDATE Vehicles
SET Status = 'Under Maintenance'
WHERE VehicleNumber = 'KA-01-AB-1234';

If Bob Johnsonâ€™s vehicle underwent service on March 20, 2025, we update the service date.

In [ ]:
%%sql
UPDATE Vehicles
SET LastServiceDate = '2025-03-20'
WHERE VehicleNumber = 'DL-03-EF-9101';

#Step 5: Deleting Data (DELETE)
If Alice Smith's vehicle is decommissioned, we remove its record.

In [ ]:
%%sql
DELETE FROM Vehicles WHERE VehicleNumber = 'MH-02-CD-5678';

#Final Thoughts
This example covers CRUD operations in Transport Management:

* Create: We created the Vehicles table.

* Insert: We added transport records.

* Read: We retrieved transport data based on route and service date.

* Update: We modified vehicle status and service records.

* Delete: We removed a decommissioned vehicle.